<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ecommerce"
        android:label="sneakersnstuff"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="sneakersnstuff">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="sneakersnstuff">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ActivityCart"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ActivityProduct"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ActivityProductDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ActivityCheckout"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ActivityHistory"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ActivityHelp"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ActivityImageDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ActivityNotificationDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activities.ActivitySettings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Pref" />

        <service android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".notification.NotificationExtenderExample"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>

    </application>

</manifest>